<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bd_file:///Users/iansilber/Dropbox%20(Facebook)/Instagram%20Designs/9999%20-%20Team%20-%20Photos/Sample%20Shots/</key>
	<data>
	Ym9vazADAAAAAAQQMAAAAGp0vroSOYvnUOS/c9mNqHbRq6EI9NHX28o8vaRyouknLAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAJAAAAAQEAAGlhbnNpbGJlcgAAABIA
	AAABAQAARHJvcGJveCAoRmFjZWJvb2spAAARAAAAAQEAAEluc3RhZ3JhbSBEZXNpZ25z
	AAAAFAAAAAEBAAA5OTk5IC0gVGVhbSAtIFBob3RvcwwAAAABAQAAU2FtcGxlIFNob3Rz
	GAAAAAEGAAAQAAAAIAAAADQAAABQAAAAbAAAAIgAAAAIAAAABAMAAG8KBwAAAAAACAAA
	AAQDAAC+EAkAAAAAAAgAAAAEAwAA1rQRAAAAAAAIAAAABAMAAOC5EQAAAAAACAAAAAQD
	AAAOJRIAAAAAAAgAAAAEAwAAHCUSAAAAAAAYAAAAAQYAALwAAADMAAAA3AAAAOwAAAD8
	AAAADAEAAAgAAAAABAAAQbtpWhkAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
	AAAAAAgAAAAEAwAABAAAAAAAAAAEAAAAAwMAAF/zuhsIAAAAAQkAAGZpbGU6Ly8vDAAA
	AAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAAAKboAAAACAAAAAAEAABBu0xZ3gAAACQA
	AAABAQAANzNBOUVBOTMtNERBNi0zODQ3LUE1RkQtRkJDOTJERjQ1REM5GAAAAAECAACB
	AAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////
	AQAAAAAAAAAQAAAABBAAAJwAAAAAAAAABRAAABwBAAAAAAAAEBAAAEwBAAAAAAAAQBAA
	ADwBAAAAAAAAAiAAABgCAAAAAAAABSAAAIgBAAAAAAAAECAAAJgBAAAAAAAAESAAAMwB
	AAAAAAAAEiAAAKwBAAAAAAAAEyAAALwBAAAAAAAAICAAAPgBAAAAAAAAMCAAACQCAAAA
	AAAAAcAAAGwBAAAAAAAAEcAAACAAAAAAAAAAEsAAAHwBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>directory</key>
	<string>/Users/iansilber/Dropbox (Facebook)/Instagram Designs/9999 - Team - Photos/Sample Shots</string>
</dict>
</plist>
